@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --light-gray: hsl(212,45%,89%);
  --gray-blue: hsl(220,15%,55%);
  --dark-blue: hsl(218,44%,22%);


}

/* Body Styles */
body{
background-color: var(--light-gray);
font-family: 'Outfit', sans-serif;
display: flex;
height: 100vh;
justify-content: center;
align-items: center;
}

p{
  font-size: 15px;
}


/* Component Card Styles */
.card{
  background-color: white;
  width: 21vw;
  height: 65vh;
  border-radius: 20px;
  padding: 15px;
  /* margin: auto auto;  */
}

/* QR Code Styles */
.qr-code{
  height: 65%;
  background-image: url(images/image-qr-code.png);
  background-size: contain;
  background-color: black;
  border-radius: 15px;
}

/* QR Info Styles */
.qr-info{
  text-align: center;
} 

.qr-info h3{
margin: 20px 20px 20px 20px;
font-size: 22px;
}

.qr-info p{
color: var(--gray-blue);
padding: 0 20px;
}





/* Attribution */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }